.body-container{
   height: 100vh; 
   margin: 100px 70px;
}
.tip-container{
    width: 400px;
    margin: 100px 480px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 20px;
}

select, input{
    width: 300px;
    height: 30px;
    margin: 20px 0;
}

label{
    font-size: 20px;
}
button{
    width: 200px;
    height: 30px;
    font-weight: bold;
}

button:hover {
    background: pink;

}

.tipAmount, .totalAmount {
    color: lightpink;
}
