{{!-- <div class="calculator-container">
  <form ">
    <div class="display">
      <input type="text" placeholder="0" layResult" />
    </div>
    <div class="buttons">
      <div class="row">
        <input type="button" value="7" onclick={{action (mut billAmount) value='target.value'}} >
        <input type="button" value="8" onClick="calculateNumbers(b8.value)">
        <input type="button" value="9" onClick="calculateNumbers(b9.value)">
        <input type="button" value="+" onClick="calculateNumbers(addb.value)">
      </div>

      <div class="row">
        <input type="button" value="4" onClick="calculateNumbers(b4.value)">
        <input type="button" value="5" onClick="calculateNumbers(b5.value)">
        <input type="button" value="6" onClick="calculateNumbers(b6.value)">
        <input type="button" value="-" onClick="calculateNumbers(subb.value)">
      </div>

      <div class="row">
        <input type="button" value="1" onClick="calculateNumbers(b1.value)">
        <input type="button" value="2" onClick="calculateNumbers(b2.value)">
        <input type="button" value="3" onClick="calculateNumbers(b3.value)">
        <input type="button"  value="*" onClick="calculateNumbers(mulb.value)">
      </div>

      <div class="row">
        <input type="button" value="0" onClick="calculateNumbers(b0.value)">
        <input type="button"  value="." onClick="calculateNumbers(potb.value)">
        <input type="button"  value="/" onClick="calculateNumbers(divb.value)">
        <input type="button" class="pink" value="C" onClick="clearCalculator(clear.value)">
      </div>

      <div class="row">
        <input type="button" class="pink equals" value="=" {{action "calculate" }}>
      </div>
    </div>

  </form>
</div> --}}

{{outlet}}

