<div class="digital-clock-container">
  <div class="digital-clock">
    <div id="hour" class="each-board">{{hour}}</div>
    <div id="min" class="each-board">{{min}}</div>
    <div id="secs" class="each-board">{{sec}}</div>
  </div>

</div>

{{outlet}}
